In [17]:
num=int(input("enter the factorial"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

enter the factorial 12

479001600

In [1]:
a=0
c=0
n="mahendran-6066681"
for i in n:
    if i.isalpha():
        a+=1
    elif i.isdigit():
        c+=1
print(a)
print(c)

9
7

In [3]:
for index in range(50,30,-3):
    if index==50:
        print("loop skips")
        continue
        print(index,end="")
        print(index)

loop skips

In [7]:
str="pragathi"
str=str.lower()
str1=reversed(str)
if list(str)==list(str):
    print("palindrome string")
else:
    print("not palindrome string")

palindrome string

In [9]:
print("odd number")
for i in range(1,27):
    if i%2==0:
        odd=i-1
        print(f"{odd}")

odd number
1
3
5
7
9
11
13
15
17
19
21
23
25

In [11]:
num=int(input("enter the number:"))
print("multiplication table of ",num)
for i in range(1,11):
    print(num,'x',i,'=',num*i)

enter the number: 12

multiplication table of  12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [13]:
a=int(input("enter the 1st number:"))
b=int(input("enter the 2nd number:"))
c=int(input("enter the 3rd number:"))
median=(a,b,c)
if(a>b and a<c) or (a<b and a>c):
    print(a)
elif (b>a and b<c) or (b<a and b>c):
    print(b)
else:
    print(C)
print("the median is",median)

enter the 1st number: 20
enter the 2nd number: 30
enter the 3rd number: 40

30
the median is (20, 30, 40)

In [17]:
initial_population=int(input())
growth_rate=float(input())
female_precentage=float(input())
for year in range(10):
    total=initial_population*(1+growth_rate)**year
    female=total*female_precentage
    print(f"year {year+1}:{female:.2f}")

 100000
 0.07
 98

year 1:9800000.00
year 2:10486000.00
year 3:11220020.00
year 4:12005421.40
year 5:12845800.90
year 6:13745006.96
year 7:14707157.45
year 8:15736658.47
year 9:16838224.56
year 10:18016900.28